<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FleetInvoice.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>E93A853C113D518AA3C029C9A5BCDDE8ED9E80BC</string>
				<key>dateExpires</key>
				<string>13/07/27</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E93A853C113D518AA3C029C9A5BCDDE8ED9E80BC</string>
						<key>dateExpires</key>
						<string>13/07/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseFirestoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GY4Z97VQ6K</string>
						<key>name</key>
						<string>SIDHU JAGDEEP SINGH</string>
					</dict>
					<key>versionNumber</key>
					<string>10.27.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E93A853C113D518AA3C029C9A5BCDDE8ED9E80BC</string>
						<key>dateExpires</key>
						<string>13/07/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GY4Z97VQ6K</string>
						<key>name</key>
						<string>SIDHU JAGDEEP SINGH</string>
					</dict>
					<key>versionNumber</key>
					<string>1.20240116.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E93A853C113D518AA3C029C9A5BCDDE8ED9E80BC</string>
						<key>dateExpires</key>
						<string>13/07/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GY4Z97VQ6K</string>
						<key>name</key>
						<string>SIDHU JAGDEEP SINGH</string>
					</dict>
					<key>versionNumber</key>
					<string>1.62.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E93A853C113D518AA3C029C9A5BCDDE8ED9E80BC</string>
						<key>dateExpires</key>
						<string>13/07/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GY4Z97VQ6K</string>
						<key>name</key>
						<string>SIDHU JAGDEEP SINGH</string>
					</dict>
					<key>versionNumber</key>
					<string>1.62.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E93A853C113D518AA3C029C9A5BCDDE8ED9E80BC</string>
						<key>dateExpires</key>
						<string>13/07/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GY4Z97VQ6K</string>
						<key>name</key>
						<string>SIDHU JAGDEEP SINGH</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.32</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>GY4Z97VQ6K.com.vtltranstech.fleetinvoice</string>
				<key>com.apple.developer.team-identifier</key>
				<string>GY4Z97VQ6K</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>FleetInvoice.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>fcef7918-5912-4292-bf58-1505c7be5298</string>
				<key>dateExpires</key>
				<string>22/07/27</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>GY4Z97VQ6K</string>
				<key>name</key>
				<string>SIDHU JAGDEEP SINGH</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
